Data Prepration

In [1]:
import pandas as pd
import category_encoders as ce
df_divar = pd.read_csv('Divar.csv')
df_divar = df_divar[sorted(df_divar.columns)]
pd.set_option('display.max_rows', None)  # نمایش تمامی سطرها
pd.set_option('display.max_columns', None)  # نمایش تمامی ستون‌ها
pd.set_option('display.expand_frame_repr', False)  # جلوگیری از خلاصه شدن
pd.set_option('max_colwidth', None)

D:\AppData\ipykernel_36024\1500952972.py:3: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_divar = pd.read_csv('Divar.csv')

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون location_radius از دیتا فریم

In [2]:
df_divar_1 = df_divar.drop('location_radius', axis=1)
df_divar_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 60 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   building_direction          323923 non-null   object
 2   building_size               980394 non-null   float64
 3   cat2_slug                   1000000 non-null  object
 4   cat3_slug                   999999 non-null   object
 5   city_slug                   999998 non-null   object
 6   construction_year           815828 non-null   object
 7   cost_per_extra_person       10241 non-null    float64
 8   created_at_month            1000000 non-null  object
 9   credit_mode                 352994 non-null   object
 10  credit_value                352095 non-null   float64
 11  deed_type                   253458 non-null   object
 12  description                 1000000 non-null  object
 13  extra_person_capacity       24009 non-null    object
 14  floor                       541748 non-null   object
 15  floor_material              405984 non-null   object
 16  has_balcony                 506411 non-null   object
 17  has_barbecue                31198 non-null    object
 18  has_business_deed           34679 non-null    object
 19  has_cooling_system          350619 non-null   object
 20  has_electricity             33445 non-null    object
 21  has_elevator                541749 non-null   object
 22  has_gas                     33430 non-null    object
 23  has_heating_system          368969 non-null   object
 24  has_jacuzzi                 28728 non-null    object
 25  has_parking                 728156 non-null   object
 26  has_pool                    29390 non-null    object
 27  has_restroom                406913 non-null   object
 28  has_sauna                   28479 non-null    object
 29  has_security_guard          31312 non-null    object
 30  has_warehouse               728155 non-null   object
 31  has_warm_water_provider     379500 non-null   object
 32  has_water                   33444 non-null    object
 33  is_rebuilt                  529470 non-null   object
 34  land_size                   186396 non-null   float64
 35  location_latitude           655608 non-null   float64
 36  location_longitude          655608 non-null   float64
 37  neighborhood_slug           437139 non-null   object
 38  price_mode                  573606 non-null   object
 39  price_value                 568346 non-null   float64
 40  property_type               27057 non-null    object
 41  regular_person_capacity     29870 non-null    float64
 42  rent_credit_transform       352985 non-null   object
 43  rent_mode                   352994 non-null   object
 44  rent_price_at_weekends      13551 non-null    float64
 45  rent_price_on_regular_days  18068 non-null    float64
 46  rent_price_on_special_days  10463 non-null    float64
 47  rent_to_single              19 non-null       object
 48  rent_type                   103961 non-null   object
 49  rent_value                  351322 non-null   float64
 50  rooms_count                 845899 non-null   object
 51  title                       999946 non-null   object
 52  total_floors_count          304352 non-null   object
 53  transformable_credit        352085 non-null   float64
 54  transformable_price         352894 non-null   object
 55  transformable_rent          351248 non-null   float64
 56  transformed_credit          72409 non-null    float64
 57  transformed_rent            72409 non-null    float64
 58  unit_per_floor              302283 non-null   object
 59  user_type                   288882 non-null   object
dtypes: float64(16), int64(1), object(43)
memory usage: 457.8+ MB

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف دو سطر از دیتافریم

In [3]:
df_divar_2= df_divar_1.drop(index=292674)
df_divar_2 = df_divar_2.reset_index(drop=True)

In [4]:
df_divar_2= df_divar_2.drop(index=338800)
df_divar_2 = df_divar_2.reset_index(drop=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
پر کردن سطر خالی ستون city_slug

In [5]:
df_divar_2.loc[676500, 'city_slug'] = 'shiraz'

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون cost_per_extra_person

In [6]:
df_divar_2 = df_divar_2.drop('cost_per_extra_person', axis=1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون Unnamed: 0

In [7]:
df_divar_2 = df_divar_2.drop('Unnamed: 0', axis = 1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون های credit_mode و rent_mode

In [8]:
df_divar_2 = df_divar_2.drop(columns=['credit_mode','rent_mode'])

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون extra_person_capacity

In [9]:
df_divar_2 = df_divar_2.drop('extra_person_capacity', axis=1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون های زیر

In [10]:
df_divar_2 = df_divar_2.drop(columns=['has_barbecue','has_business_deed','has_electricity','has_gas','has_jacuzzi','has_pool','has_water','has_sauna','has_security_guard','regular_person_capacity','total_floors_count','unit_per_floor','user_type','has_restroom'])

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون rent_to_single

In [11]:
df_divar_2 = df_divar_2.drop('rent_to_single', axis=1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون های rent_price_at_weekends , rent_price_on_regular_days , rent_price_on_special_days

In [12]:
df_divar_2 = df_divar_2.drop(columns=['rent_price_at_weekends','rent_price_on_regular_days','rent_price_on_special_days'])

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون property_type

In [13]:
df_divar_2 = df_divar_2.drop('property_type',axis=1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون price_mode

In [14]:
df_divar_2 = df_divar_2.drop('price_mode', axis = 1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون land_size

In [15]:
df_divar_2 = df_divar_2.drop('land_size', axis=1)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
تبدیل مقادیر ستون deed_type  به 0 و 1
<br>
تغییر نام ستون به deed  
<br>
تبدیل تایپ ستون deed به int64

In [16]:
df_filtered = df_divar_2[df_divar_2['description'].str.contains('سند', na=False)]
df_filtered.loc[df_filtered['deed_type'] == 'unselect', 'deed_type'] = 1
df_divar_2.update(df_filtered)

In [17]:
df_divar_2.loc[df_divar_2['deed_type'].isin(['single_page', 'multi_page']), 'deed_type'] = 1

In [18]:
df_divar_2.loc[df_divar_2['deed_type'] != 1, 'deed_type'] = 0

In [19]:
df_divar_2.rename(columns={'deed_type': 'deed'}, inplace=True)

In [20]:
df_divar_2['deed'] = df_divar_2['deed'].astype(int)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
پر کردن ستون has_elevator با روش get-dummies

In [21]:
df_divar_5 = pd.get_dummies(df_divar_2, columns=['has_elevator'], drop_first=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف سه ستون rent_type , transformed_rent , transformed_credit

In [22]:
df_divar_5.drop(['rent_type','transformed_rent','transformed_credit'], axis=1, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف سه ستون has_cooling_system , has_heating_system , has_warm_water_provider

In [23]:
df_divar_5.drop(['has_cooling_system','has_heating_system','has_warm_water_provider'], axis=1, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون floor_type

In [24]:
df_divar_5.drop(['floor_material'], axis=1, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
ستون building_direction
<br>
nan کردن سطرهای دارای unselect
<br>
تبدیل به get_dummies

In [25]:
df_divar_5['building_direction'].replace('unselect', pd.NA, inplace=True)
df_divar_6 = pd.get_dummies(df_divar_5, columns=['building_direction'])

D:\AppData\ipykernel_36024\4171466172.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_5['building_direction'].replace('unselect', pd.NA, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
تبدیل تایپ ستون deed به bool

In [26]:
df_divar_6['deed'] = df_divar_6['deed'].astype(bool)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
حذف ستون floor

In [27]:
df_divar_6.drop(['floor'], axis=1, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
تغییر ستون has_balcony و پر کردن سطرهای آن

In [28]:
has_not_balcon = df_divar_6[df_divar_6['description'].str.contains(r'تراس ندارد|بالکن ندارد|فاقد تراس|فاقد بالکن', na=False, regex=True)] 
has_not_balcon.loc[has_not_balcon['has_balcony'].isin([True, 'true']), 'has_balcony'] = False
has_not_balcon.loc[has_not_balcon['has_balcony'].isin(['false']), 'has_balcony'] = False
df_divar_7 = df_divar_6.copy()
df_divar_7.update(has_not_balcon)
filtered_has_balcon = df_divar_7[df_divar_7['description'].str.contains('تراس|بالکن', na=False, regex=True)]
filtered_has_balcon['has_balcony'].fillna(True, inplace=True)
df_divar_7.update(filtered_has_balcon)
df_divar_7['has_balcony'].replace('unselect', pd.NA, inplace=True)
df_divar_7['has_balcony'].replace('false', False, inplace=True)
df_divar_7['has_balcony'].replace('true', True, inplace=True)
df_divar_8 = pd.get_dummies(df_divar_7, columns=['has_balcony'])

D:\AppData\ipykernel_36024\3645945802.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_has_balcon['has_balcony'].fillna(True, inplace=True)
D:\AppData\ipykernel_36024\3645945802.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_has_balcon['has_balcony'].fillna(True, inplace=True)
D:\AppData\ipykernel_36024\3645945802.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_7['has_balcony'].replace('unselect', pd.NA, inplace=True)
D:\AppData\ipykernel_36024\3645945802.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_7['has_balcony'].replace('false', False, inplace=True)
D:\AppData\ipykernel_36024\3645945802.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_7['has_balcony'].replace('true', True, inplace=True)

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
پر کردن ستون has_parking

In [29]:
df_divar_9 = pd.get_dummies(df_divar_8, columns=['has_parking'])

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
پر کردن ستون has_warehouse

In [30]:
df_divar_10 = pd.get_dummies(df_divar_9, columns= ['has_warehouse'])

<p dir=rtl style=" text-align: center; font-style:b">
<font face="vazir" size=5>
پر کردن ستون is_rebuilt

In [31]:
df_divar_11 = pd.get_dummies(df_divar_10, columns= ['is_rebuilt'])

حذف کردن سطرهای خالی ستون construction_year

In [32]:
df_divar_11['construction_year'].replace('قبل از ۱۳۷۰','۱۳۷۰', inplace=True)
df_divar_11.dropna(subset=['construction_year'], inplace=True)

D:\AppData\ipykernel_36024\1454868480.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['construction_year'].replace('قبل از ۱۳۷۰','۱۳۷۰', inplace=True)

حذف کردن سطرهای خالی ستون building_size

In [33]:
df_divar_11.dropna(subset=['building_size'], inplace=True)

تبدیل اعداد فارسی به اعداد انگلیسی ستون construction_year

In [34]:
df_divar_11['construction_year'] = df_divar_11['construction_year'].astype(str).str.translate(str.maketrans('۰۱۲۳۴۵۶۷۸۹', '0123456789')).astype(int)

حذف سطرهای خالی ستون تعداد اتاق ها

In [35]:
df_divar_11.dropna(subset=['rooms_count'], inplace=True)

تبدیل متن ها به عدد فارسی و سپس تبدیل اعداد فارسی به انگلیسی و تبدیل تایپ ستون به int

In [36]:
df_divar_11['rooms_count'].replace('بدون اتاق', '0',  inplace=True)
df_divar_11['rooms_count'].replace('یک','1',  inplace=True)
df_divar_11['rooms_count'].replace('دو','2',  inplace=True)
df_divar_11['rooms_count'].replace('سه','3',  inplace=True)
df_divar_11['rooms_count'].replace('چهار', '4',  inplace=True)
df_divar_11['rooms_count'].replace('پنج یا بیشتر', '5',  inplace=True)
df_divar_11['rooms_count'] = df_divar_11['rooms_count'].astype(str).str.translate(str.maketrans('۰۱۲۳۴۵۶۷۸۹', '0123456789')).astype(int)

D:\AppData\ipykernel_36024\4016796824.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('بدون اتاق', '0',  inplace=True)
D:\AppData\ipykernel_36024\4016796824.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('یک','1',  inplace=True)
D:\AppData\ipykernel_36024\4016796824.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('دو','2',  inplace=True)
D:\AppData\ipykernel_36024\4016796824.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('سه','3',  inplace=True)
D:\AppData\ipykernel_36024\4016796824.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('چهار', '4',  inplace=True)
D:\AppData\ipykernel_36024\4016796824.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_divar_11['rooms_count'].replace('پنج یا بیشتر', '5',  inplace=True)

ریست شماره ایندکس ها

In [37]:
df_divar_11.reset_index(drop=True, inplace=True)

تغییر نام ستون city_slug به city

In [38]:
df_divar_11.rename(columns={'city_slug': 'city'}, inplace=True)

تغییر نام ستون neighborhood_slug به neighborhood

In [39]:
df_divar_11.rename(columns={'neighborhood_slug': 'neighborhood'}, inplace=True)

پر کردن سطرهای خالی ستون neighborhood با اسم شهرها از ستون city

In [40]:
df_divar_12 = df_divar_11.copy()
df_divar_12.loc[df_divar_12['neighborhood'].isna(), 'neighborhood'] = df_divar_12['city']

حذف قسمت 00:00:00 از مقادیر ستون created_at_month

In [41]:
df_divar_12['created_at_month'] = df_divar_12['created_at_month'].str.replace(r'00:00:00', '', regex=True)

تبدیل ستون created_at_month به فرمت datetime

In [42]:
df_divar_12['created_at_month'] = pd.to_datetime(df_divar_12['created_at_month'])

حذف سطر دارای plot-old برای یکپارچه سازی داده ها

In [43]:
df_divar_13 = df_divar_12.loc[df_divar_12['cat3_slug'] != 'plot-old']
df_divar_13.reset_index(drop=True, inplace=True)

حذف عبارات -sell و -rent برای نمایش بهتر دسته بندی ها

In [44]:
df_divar_13 = df_divar_13.copy()
df_divar_13['cat3_slug'] = df_divar_13['cat3_slug'].str.replace(r'-sell|-rent', '', regex=True)

تغییر نام ستون های زیر 
<br>
cat2_slug : dealing_type
<br>
cat3_slug : estate_type

In [45]:
df_divar_13 = df_divar_13.copy()
df_divar_13.rename(columns={'cat2_slug': 'dealing_type', 'cat3_slug': 'estate_type'}, inplace=True)

حذف ستون های 
<br>
location_latitude  ,  location_longitude , description , title

In [46]:
df_divar_14 = df_divar_13.copy()
df_divar_14.drop(['location_latitude','location_longitude','description', 'title'], axis=1, inplace=True)

تبدیل فرمت ستون های dealing_type  و estate_type به بولین با get_dummies

In [47]:
df_divar_14 = pd.get_dummies(df_divar_14, columns=['dealing_type','estate_type'])

تغییر تایپ ستون های city و neighborhood با استفاده از binaryencoder

In [48]:
encoder = ce.BinaryEncoder(cols=['city','neighborhood'])
df_divar_15 = encoder.fit_transform(df_divar_14)

In [49]:
df_divar_16 = df_divar_15.copy()

ریست کردن شماره ایندکس ها بدلیل حذف سطر

In [50]:
df_divar_16.reset_index(drop= True, inplace = True)

تغییر نام ستون created_at_month به creation_date

In [51]:
divar_16 = df_divar_16.copy()
divar_16.rename(columns={'created_at_month':'creation_date'}, inplace=True)

استفاده از binary_encoder برای تغییر تایپ creation_date

In [52]:
encoder = ce.BinaryEncoder(cols=['creation_date'])
divar_17 = encoder.fit_transform(divar_16)

In [53]:
df_price = divar_17.copy()

حذف ستون های 
<br>
credit_value , rent_credit_transform , rent_value , transformable_credit , transformable_rent , transformable_price

In [54]:
df_price.drop(columns=['credit_value','rent_credit_transform','rent_value','transformable_credit','transformable_rent','transformable_price'], axis=1, inplace=True)

حذف سطرهای خالی ستون price_value

In [55]:
df_price_2 = df_price.dropna(subset=['price_value'])
df_price_2.reset_index(drop = True , inplace = True)

In [56]:
df_price_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456775 entries, 0 to 456774
Data columns (total 53 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   building_size                              456775 non-null  float64
 1   city_0                                     456775 non-null  int64
 2   city_1                                     456775 non-null  int64
 3   city_2                                     456775 non-null  int64
 4   city_3                                     456775 non-null  int64
 5   city_4                                     456775 non-null  int64
 6   city_5                                     456775 non-null  int64
 7   city_6                                     456775 non-null  int64
 8   city_7                                     456775 non-null  int64
 9   city_8                                     456775 non-null  int64
 10  construction_year                          456775 non-null  int64
 11  creation_date_0                            456775 non-null  int64
 12  creation_date_1                            456775 non-null  int64
 13  creation_date_2                            456775 non-null  int64
 14  creation_date_3                            456775 non-null  int64
 15  creation_date_4                            456775 non-null  int64
 16  creation_date_5                            456775 non-null  int64
 17  deed                                       456775 non-null  bool
 18  neighborhood_0                             456775 non-null  int64
 19  neighborhood_1                             456775 non-null  int64
 20  neighborhood_2                             456775 non-null  int64
 21  neighborhood_3                             456775 non-null  int64
 22  neighborhood_4                             456775 non-null  int64
 23  neighborhood_5                             456775 non-null  int64
 24  neighborhood_6                             456775 non-null  int64
 25  neighborhood_7                             456775 non-null  int64
 26  neighborhood_8                             456775 non-null  int64
 27  neighborhood_9                             456775 non-null  int64
 28  neighborhood_10                            456775 non-null  int64
 29  price_value                                456775 non-null  float64
 30  rooms_count                                456775 non-null  int64
 31  has_elevator_True                          456775 non-null  bool
 32  building_direction_east                    456775 non-null  bool
 33  building_direction_north                   456775 non-null  bool
 34  building_direction_south                   456775 non-null  bool
 35  building_direction_west                    456775 non-null  bool
 36  has_balcony_False                          456775 non-null  bool
 37  has_balcony_True                           456775 non-null  bool
 38  has_parking_False                          456775 non-null  bool
 39  has_parking_True                           456775 non-null  bool
 40  has_warehouse_False                        456775 non-null  bool
 41  has_warehouse_True                         456775 non-null  bool
 42  is_rebuilt_False                           456775 non-null  bool
 43  is_rebuilt_True                            456775 non-null  bool
 44  dealing_type_commercial-rent               456775 non-null  bool
 45  dealing_type_commercial-sell               456775 non-null  bool
 46  dealing_type_residential-rent              456775 non-null  bool
 47  dealing_type_residential-sell              456775 non-null  bool
 48  estate_type_apartment                      456775 non-null  bool
 49  estate_type_house-villa                    456775 non-null  bool
 50  estate_type_industry-agriculture-business  456775 non-null  bool
 51  estate_type_office                         456775 non-null  bool
 52  estate_type_shop                           456775 non-null  bool
dtypes: bool(23), float64(2), int64(28)
memory usage: 114.6 MB